//@use "sass:color";
/*
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

// ---- Colores globales:
$music-bg: #eed7d7;
$music-font: #f1e5e5;
$music-h1-color: #f1e5e5;
$music-h2-color: #eed7d7;
$music-h3-color: #ca0065;
$music-h4-color: #fdfefe;
$music-h5-color: #ca0065;
$music-p-color: #00226c;
$msc-color-hover: #007bff;

// ---- Sombras:
$music-h1-shadow: 0 8px 9px #fb0cb2, 0 -2px 1px #8e246d;
$music-h3-shadow: -3px -3px 4px #fb0cb2, -4px -4px 1px #0a0e27;
// ---- Iconos nav-bar
$icon-padding: 10px;
$icon-color: orange;

// ---- Tamaños fuentes, iconos, etc.
$sz-icon-footer: 24px;
$sz-redes-footer: 60px;
$sz-icon-nav: 18px;
$sz-msc-p: 20px;
$sz-icon-footer-media-q: 20px;
$sz-redes-footer-media-q: 50px;
// tamaños fuentes cuadros cabecera:
$sz-pc-class-negro: 72px;
$sz-pc-class-blanco: 24px;

// Cambio estilo Bootstrap duración transición Carusel:
$carousel-transition: 1.6s;
*/
